/* Global  */
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lato", sans-serif;
}

.btn_primary {
  border-radius: 8px;
  background: #e55473;
  border: 0px;
  padding: 20px 43px;
  color: white;
  cursor: pointer;
}

/* Heading Section */

.heading_section {
  width: 100%;
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  align-items: center;
}

.heading_image {
  padding-top: 50px;
  padding-right: 150px;
  width: 350px;
  height: 450px;
}

.heading_description {
  width: 40%;
  margin: auto;
}

.heading_title {
  color: #272727;
  font-size: 50px;
}

.heading_info {
  color: rgba(39, 39, 39, 0.6);
  font-size: 15px;
  line-height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* flowers section */
.flowers_container {
  display: flex;
  margin: 100px;
  justify-content: space-between;
}

.flower_box_1 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  height: 238px;
  flex-shrink: 0;
  margin-right: 25px;
  align-items: center;
  width: 17%;

  padding: 10px;
}

.flower_box_2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  height: 238px;
  flex-shrink: 0;
  margin-right: 25px;
  align-items: center;
  width: 17%;

  padding: 10px;
}

.flower_box_3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  height: 238px;
  flex-shrink: 0;
  margin-right: 25px;
  align-items: center;
  width: 17%;

  padding: 10px;
}

.flower_img {
  width: 100px;
  height: 228px;
  flex-shrink: 0;
  padding-left: 50px;
  padding-top: 20px;
}

.featured_flowers_title {
  margin: 50px;
  color: #272727;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}
.featured_flowers_info {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  width: 50%;
  margin: auto;
}

.flowers_anchor {
  padding: 30px;
  color: black;
}

/* bonus optional section */

.bonus_optional {
  display: flex;
  width: 70%;
  padding: 40px;
  margin: auto;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);

  margin-bottom: 30px;
}

.icon_box {
  width: 40%;
  margin-left: 70px;
  padding: 20px;
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
}

.icon_img {
  height: 50%;
}

/* deal section */

.deal {
  display: flex;
  width: 100%;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  align-items: center;
}

.color_text {
  color: #e55473;
}

.deal_info {
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 200px 0 200px 50px;
}

.deal_title {
  color: #272727;
  font-size: 30px;
  margin: auto;
  width: 80%;
}

.deal_paragraph {
  padding: 20px;
  color: rgba(39, 39, 39, 0.6);
  margin: auto;
  width: 70%;
  font-size: 15px;
  line-height: 30px;
}

.deal_img {
  width: 218px;
  height: 320px;
  flex-shrink: 0;
  margin-right: 100px;
  margin-bottom: 20px;
}

/* instagram section */

.instagram {
  margin-bottom: 70px;
}

.intagram_info {
  margin-top: 50px;
}

.inta_title {
  color: #272727;
  text-align: center;
  font-size: 30px;
}

.inta_paragraph {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  width: 40%;
  margin: auto;
  margin-bottom: 30px;
}

.insta_boxs {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 85%;
  margin: auto;
}

.insta_box img {
  height: 290px;
  width: 250px;
  margin: 10px;
}

/* latest deals section */

.latest_deals {
  background: url("./assets//Rectangle\ 9.png");
  width: 80%;
  height: 300px;
  background-position: cover;
  background-repeat: no-repeat;
  margin: auto;
  border-radius: 5px;
}

.latest_deals_title {
  color: #272727;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  padding-top: 100px;
}

.latest_deals_paragraph {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
}

.input_button_box {
  display: flex;
  align-items: center;
  width: 50%;
  margin: auto;
  padding: 10px;
}

.input_button_box input {
  width: 500px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 5px;
  padding: 5px;
  margin-left: -40px;
  border: 0px;
}

.input_button_box button {
  margin-left: 5px;
}

/* bonus personal */
.personal_bonus {
  height: 500px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
}

.personal_bonus_title {
  text-align: center;
  font-size: 40px;
  padding: 20px;
}

.form_fields_parent {
  display: block;
  width: 70%;
  margin: auto;
  padding: 40px;
}
.form_fields {
  width: 80%;
  margin: auto;
  padding-left: 250px;
}

.bonus_input {
  width: 500px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 5px;
  padding: 5px;
  margin-left: -40px;
  border: 0px;
}

.bonus_text_field {
  width: 500px;
  margin-top: 20px;
  flex-shrink: 0;
  border-radius: 5px;
  padding: 5px;
  margin-left: -40px;
  border: 0px;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons input {
  margin-right: 170px;
  margin-top: 20px;
}

/* footer */
footer {
  background: #111010;
  height: 300px;
  margin-top: 80px;
}

footer h3 {
  padding-top: 90px;
  font-size: 38px;
  text-align: center;
  color: white;
}

footer p {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  margin: auto;
  width: 50%;
  padding-top: 20px;
}
.footer_copyright {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  margin: auto;
  padding-top: 20px;
}
