/* Global  */
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lato", sans-serif;
}

.btn_primary {
  border-radius: 8px;
  background: #e55473;
  border: 0px;
  padding: 20px 43px;
  color: white;
  cursor: pointer;
}

/* Heading Section */

.heading_section {
  width: 100%;
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  align-items: center;
}

.heading_image {
  padding-top: 50px;
  padding-right: 150px;
  width: 350px;
  height: 450px;
}

.heading_description {
  width: 40%;
  margin: auto;
}

.heading_title {
  color: #272727;
  font-size: 50px;
}

.heading_info {
  color: rgba(39, 39, 39, 0.6);
  font-size: 15px;
  line-height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* flowers section */
.flowers_container {
  display: flex;
  margin: 100px;
  justify-content: space-between;
}

.flower_box_1 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  height: 238px;
  flex-shrink: 0;
  margin-right: 25px;
  align-items: center;
  width: 17%;

  padding: 10px;
}

.flower_box_2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  height: 238px;
  flex-shrink: 0;
  margin-right: 25px;
  align-items: center;
  width: 17%;

  padding: 10px;
}

.flower_box_3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  height: 238px;
  flex-shrink: 0;
  margin-right: 25px;
  align-items: center;
  width: 17%;

  padding: 10px;
}

.flower_img {
  width: 100px;
  height: 228px;
  flex-shrink: 0;
  padding-left: 50px;
  padding-top: 20px;
}

.featured_flowers_title {
  margin: 50px;
  color: #272727;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}
.featured_flowers_info {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  width: 50%;
  margin: auto;
}

.flowers_anchor {
  padding: 30px;
  color: black;
}

/* bonus optional section */

.bonus_optional {
  display: flex;
  width: 70%;
  padding: 40px;
  margin: auto;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);

  margin-bottom: 30px;
}

.icon_box {
  width: 40%;
  margin-left: 70px;
  padding: 20px;
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
}

.icon_img {
  height: 50%;
}

/* deal section */

.deal {
  display: flex;
  width: 100%;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  align-items: center;
}

.color_text {
  color: #e55473;
}

.deal_info {
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 200px 0 200px 50px;
}

.deal_title {
  color: #272727;
  font-size: 30px;
  margin: auto;
  width: 80%;
}

.deal_paragraph {
  padding: 20px;
  color: rgba(39, 39, 39, 0.6);
  margin: auto;
  width: 70%;
  font-size: 15px;
  line-height: 30px;
}

.deal_img {
  width: 218px;
  height: 320px;
  flex-shrink: 0;
  margin-right: 100px;
  margin-bottom: 20px;
}
