/* Global  */
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lato", sans-serif;
}

.btn_primary {
  border-radius: 8px;
  background: #e55473;
  border: 0px;
  padding: 20px 43px;
  color: white;
}

/* Heading Section */

.heading_section {
  width: 100%;
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  align-items: center;
}

.heading_image {
  padding-top: 50px;
  padding-right: 150px;
  width: 350px;
  height: 450px;
}

.heading_description {
  width: 40%;
  margin: auto;
}

.heading_title {
  color: #272727;
  font-size: 50px;
}

.heading_info {
  color: rgba(39, 39, 39, 0.6);
  font-size: 15px;
  line-height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}
